<!--start l-contents-->
<div class="l-container u-clear">

    <!--start l-main-->
    <main class="l-main js-main">
        <div class="l-main-block"></div>
            <div class="page-number">
                Page <span >{{ data.pagination.current }}/{{ data.pagination.totalPages }}</span>
            </div>
            <div class="archive">
                <ul class="archive-list">
                    <li class="archive-item" ng-repeat="post in data.posts">
                        <article class="card">
                            <a ui-sref="detail({id: post.id})" class="card-link">
                                <img ng-src="{{ post.banner }}" alt="" class="card-image">
                                <div class="card-bottom">
                                    <h1 class="card-title">{{ post.title }}</h1>
                                    <time class="card-date" datetime="{{ post.created_at | date: 'yyyy-MM-dd' }}">
                                        {{ post.created_at | date: 'd MMM, yyyy' }}
                                    </time>
                                </div>
                            </a>
                        </article>
                    </ul>
                </div>
                <div class="paginate" ng-if="data.$resolved">
                    <a ng-click="previous()" class="paginate-prev" ng-class="{'is-disable': isFirstPage()}">
                        <span class="paginate-prev-arrow"></span>
                    </a>
                    <a ui-sref="archive({page: page})" class="paginate-number" ng-class="{'is-current': isCurrent(page)}" ng-repeat="page in getPages()">{{ page }}</a>
                    <a ng-click="next()" class="paginate-next" ng-class="{'is-disable': isLastPage()}">
                        <span class="paginate-next-arrow"></span>
                    </a>
                </div>
            </div>
        </div>
    </main>
    <!--end l-main-->

</div>
<!--end l-contents-->
