<!--start l-main-->
<main class="l-main js-main">
    <div class="l-main-block"></div>
    <div class="single" ng-if="post.$resolved">
        <img ng-src="{{ post.banner }}" alt="" class="single-image">
        <div class="l-container u-clear">
            <h1 class="single-title">{{ post.title }}</h1>
            <time class="single-date" datetime="{{ post.created_at | date: 'yyyy-MM-dd'}}">{{ post.created_at | date: 'd MMM, yyyy' }}</time>
            <p class="single-desc" ng-bind-html="content()"></p>
            <div class="single-button">
                <div class="button">
<p class="button-text">Top</p>
</div>
            </div>
        </div>
    </div>
</main>
<!--end l-main-->
